<ion-header>
  <ion-navbar secondary>
    <ion-title class="textCenter">
      Omnilife
    </ion-title>
    <ion-buttons start>
    </ion-buttons>
    <ion-buttons end>
      <!-- <button (click)="openModal()">
        <ion-icon name="menu" role="img" class="ion-ios-menu" aria-label="menu"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="selectedItem" class="adv-map">

    <h2 class="textCenter"><b>{{selectedItem.nombre}}</b></h2>

    <div class="contenedorImg" style="position: relative">
      <img class="img-producto" src="{{selectedItem.imagen}}">
<!--       <button fab fab-right fab-top (click)="compartir()" class="fab-map disable-hover button button-default button-fab button-icon-only button-fab-top">
        <ion-icon name="share" ios="ios-share" md="md-share"></ion-icon>
      </button> -->
    </div>

    <br>

    <div *ngIf="selectedItem.descripcion">
      <ion-card-header>
        <b>{{mensaje.texto.descripcion}}</b>
      </ion-card-header>
      <ion-card-content>
        <p>{{selectedItem.descripcion}}</p>
      </ion-card-content>
    </div>

    <div *ngIf="selectedItem.sabor">
      <ion-card-header>
        <b>{{mensaje.texto.sabor}}</b>
      </ion-card-header>
      <ion-card-content>
        <p>{{selectedItem.sabor}}</p>
      </ion-card-content>
    </div>

    <div *ngIf="selectedItem.beneficio">
      <ion-card-header>
        <b>{{mensaje.texto.beneficio}}</b>
      </ion-card-header>
      <ion-card-content>
        <p>{{selectedItem.beneficio}}</p>
      </ion-card-content>
    </div>

    <div *ngIf="selectedItem.detalle">
      <ion-card-header>
        <b>{{mensaje.texto.detalle}}</b>
      </ion-card-header>
      <ion-card-content>
        <p>{{selectedItem.detalle}}</p>
      </ion-card-content>
    </div>

    <div *ngIf="selectedItem.uso">
      <ion-card-header>
        <b>{{mensaje.texto.uso}}</b>
      </ion-card-header>
      <ion-card-content>
        <p>{{selectedItem.uso}}</p>
      </ion-card-content>
    </div>

    <div *ngIf="selectedItem.preparacion">
      <ion-card-header>
        <b>{{mensaje.texto.preparacion}}</b>
      </ion-card-header>
      <ion-card-content>
        <p>{{selectedItem.preparacion}}</p>
      </ion-card-content>
    </div>

    <div *ngIf="selectedItem.indicacion">
      <ion-card-header>
        <b>{{mensaje.texto.indicacion}}</b>
      </ion-card-header>
      <ion-card-content>
        <p>{{selectedItem.indicacion}}</p>
      </ion-card-content>
    </div>

    <div *ngIf="selectedItem.ingrediente">
      <ion-card-header>
        <b>{{mensaje.texto.ingrediente}}</b>
      </ion-card-header>
      <ion-card-content>
        <p>{{selectedItem.ingrediente}}</p>
      </ion-card-content>
    </div>

  </ion-card>

</ion-content>