div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: 5%;
}

ion-card.adv-map p {
  font-size: 1em !important;
}

.img-producto {
  max-height: 400px;
  max-width: 220px;
  margin: auto auto;
}
.contenedorImg{
  border-bottom: thick solid #54B948;
}
button[fab].fab-map {
  top: calc(100% - 35px);
  z-index: 50;
}

.item-bold {
  font-weight: bold;
}

.textCenter{
  text-align: center;
  padding: .5em;
}
